h3{
  font-size: 18px;
  font-weight: 700;
}
p{
  margin: 0;
  font-size: 16px;
}
.navbar_text{
  color: white;
  width: 100%;
  margin: 0;
}
.container{
  margin-top: 20px;
}
.page_bottom{
  display: flex;
  justify-content: space-between;
  margin: 30px 50px 0;
}
.span_size{
  font-size: 18px;
  font-weight: 500;
}
.notice {
  background-color: #ccf;
  padding: 5px;
}
.error_message{
  font-size: 14px;
  font-weight: 100;
  color: red;
}